/* media queries */
@media (max-width: 768px) {

    .table th,
    .table td {
        padding: 8px;
        font-size: 14px;
    }
}

@media screen and (max-width: 578px) {
    #CliniSimples {
        font-size: 1.9rem;
    }

    .logo {
        height: 100px;
        width: 100px;
    }

    .table th,
    .table td {
        padding: 6px;
        font-size: 12px;
    }
}

@media screen and (max-width: 414px) {

    .logo {
        width: 110px;
        height: 110px;
    }

    #CliniSimples {
        font-size: 2.3rem;
    }

    #homePage h2 {
        font-size: 1.6rem;

    }

    #homePage p,
    #homePage li {
        font-size: 1.2rem;

    }

    nav li {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 400px) {

    .logo {
        width: 100px;
        height: 100px;
    }

    #CliniSimples {
        font-size: 2rem;
    }

    nav li {
        font-size: 1.2rem;
    }

    #homePage h2 {
        font-size: 1.6rem;

    }

    #homePage p,
    #homePage li {
        font-size: 1.2rem;

    }

    .content {
        font-size: 1.2rem;

    }

    .content h3 {
        font-size: 1.5rem;
    }

    .boas-vindas h2 {
        font-size: 1.8rem;

    }

    .pre-cadastro img {
        height: 180px;
        width: 180px;
    }

    .agendamento button {
        font-size: 11px;
    }

}

@media screen and (max-width: 360px) {

    .logo {
        width: 95px;
        height: 95px;
    }

    #CliniSimples {
        font-size: 2rem;
    }

    nav li {
        font-size: 1rem;
    }

    #homePage h2 {
        font-size: 1.55rem;

    }

    #homePage p,
    #homePage li {
        font-size: 1.2rem;

    }

    .perfil td,
    .perfil th {
        font-size: 11px;
    }

    #banner {
        width: 250px;
        height: 250px;
    }

    .boas-vindas img {
        width: 110px;
        height: 110px;
    }

    .boas-vindas h2 {
        font-size: 1.5rem;
    }

    .boas-vindas h3 {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 330px) {

    .agendamento td,
    .agendamento th,
    .agendamento button {
        font-size: 8.4px;
    }

    .pre-cadastro h2 {
        font-size: 19px;
    }

    .pre-cadastro img {
        height: 160px;
        width: 160px;

    }
}

@media screen and (max-width: 300px) {

    .logo {
        width: 80px;
        height: 80px;
    }

    #CliniSimples {
        font-size: 1.8rem;
    }

    nav li {
        font-size: 1rem;
    }
}

@media screen and (max-width: 280px) {

    .logo {
        width: 80px;
        height: 80px;
    }

    #CliniSimples {
        font-size: 1.5rem;
    }

    #homePage h2 {
        font-size: 1rem;

    }

    #homePage p,
    #homePage li {
        font-size: 1rem;

    }

    nav li {
        font-size: 1rem;
    }

    .content {
        font-size: 1.1rem;
    }

    .content h3 {
        font-size: 1.3rem;
    }

    .perfil td,
    .perfil th,
    .perfil td>button {
        font-size: 8.4px;
    }

    .agendamento td,
    .agendamento th,
    .agendamento button {
        font-size: 8.4px;
    }

}