<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/media.css">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <script type="module" src="../../../assets/js/validaLogin.js"></script>
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
    <title>Cadastro</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-dark fixed-top" id="navbar">
            <a class="navbar-brand" href="../../../../index.html">
                <div class="d-flex align-items-center">
                    <img src="../../../assets/images/logo.jpg" class="logo" alt="Logomarca CiniSimples">
                    <h1 id="CliniSimples" class="ml-2">CliniSimples</h1>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link color-white" href="../../../../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="./sobre.html">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="./cadastro.html">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="./login.html">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <main>
        <div class="container">
            <div class="pre-cadastro">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>O que deseja cadastrar?</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="./cadastroPaciente.html">
                            <img src="../../../assets/images/paciente.png" alt="Paciente">
                            <h3>Paciente</h3>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="./cadastroFuncionario.html">
                            <img src="../../../assets/images/funcionario.png" alt="Funcionario">
                            <h3>Funcionário</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>CliniSimples - Trabalho final PPI</p>
    </footer>
</body>

</html>