td.x-mark {
    background-color: black;
    color: white;
}

td.o-mark {
    background-color: grey;
    color:black;
}

body{
    background-color: rgba(31, 94, 44, 0.637);
}
main {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    color: rgba(0, 0, 0, 0);
    height: 200px;
    width: 200px;
    text-align: center;
    border: solid black 1px;
    background-color: white;
}

button {
    margin: 10px;
}