main {
    /* postion */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 50px;
    border: solid 1px grey;
    box-shadow: 1px 10px 10px rgba(128, 128, 128, 0.616);
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 10%;
}

input:hover {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.219);
}

form button {
    width: 100%;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(172, 172, 172);
}

nav a:hover {
    font-weight: bolder;
}

#login {
    margin-left: auto;
}